@import './rangeSlider.css';

:root {
  --sliderColour: #2C3E50;
  --green: #2ecc71;
  --danger: #e74c3c;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  background-color: #34495e;
}

h1{
  color: #ecf0f1;
  text-align: center;
}

.playPauseBtn {
  border-radius: none;
  padding: 20px 10px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #bdc3c7;
  background-color: var(--green);
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
}

.addSet {
  text-align: center;
  padding: 20px;
}

.addSetBtn {
  padding: 10px 15px;
  width: 50%;
  font-size: 32px;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--green);
}

.stopped {
  background-color: var(--danger);
}

.controls {
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #ecf0f1;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #333;
}

.row {
  width: 100%;
}

.slider {
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between; 
}